#icon-usersnap {
    background: transparent url( 'usersnap_32x32.png' ) no-repeat;
}

div.us-box {
	border: 1px solid #0093BE;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	width: 450px;
}
